.imageCard{
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    overflow: hidden;
}

.imageCard-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.imageCard-container-img{
    height: 30vh;
    object-fit: cover;
    object-position: top center;
}


.image-icons{
    position: absolute;
    width: 100%;
    height: 30vh;
    background-color: rgba(80, 80, 80, 0.346);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appear{
    display: flex;
}

.notAppear{
    display: none;
}

.image-icon{
    padding: 0 0.5vw 0 0.5vw;
    transition: width 1s;
}

.image-icon:hover{
    content: "";
    background-color: rgba(170, 170, 170, 0.3);
    display: block;
    height: 100%;
    width: 50%;
    z-index: 5;
}