.mainSection-ImageCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 5vh 10vw 5vh 10vw;
}

.addImageSpan {
  text-decoration: none;
  position: relative;
}

.addImageSpan::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #dde16e;
  transition: width 0.3s ease-in-out;
  transform-origin: left;
}

.addImageSpan:hover::after {
  width: 100%;
}

.addImageSpan::before {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #dde16e;
  transition: width 0.3s ease-in-out;
  transform-origin: right;
}

.addImageSpan:hover::before {
  width: 100%;
}

.addImageSpan:not(:hover)::after,
.addImageSpan:not(:hover)::before {
  width: 0;
}

.addImage {
  margin: 10vh 0vh;
}

.addImage a {

  color: rgb(129, 132, 135);
}