*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "PoiretOne";
  src: url("./assets/Font/PoiretOne-Regular.ttf"); 
}
body {
  background-color: #111112;
  font-family:"PoiretOne";
  letter-spacing:2px;
}
a {
  text-decoration: none; 
}

