*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Cuqui";
  src: url("./Font/cookies&milk-regular.ttf"); 
}
body {
  background-color: #111112;
  font-family:"Cuqui";
  letter-spacing:2px;
}
a {
  text-decoration: none; 
}

